body{
    background-color: beige;
    font-family:Times;
    font-size: 10px;
    text-align: center;
}
p{
    font-family: Times;
    font-size: 15px;
    color: black;
}

.contenido{
    hyphens: auto;
    word-wrap: break-word;
    word-break: break-word;
    overflow: auto;
}
.letras{
    font-family:Verdana;
    font-weight:900;
    font-size: 10px;
    display: flexbox;
    overflow: hidden;
    padding: 50px;
   white-space: pre-wrap;
}